@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    5 Rétköz street<br />
    Budapest, Hungary H-1118<br />
    <abbr title="Phone">P:</abbr>
    +36 20/400 42 87
</address>

<address>
    <strong>Support:</strong> <a href="mailto:tamas.racz@capgemini.com">tamas.racz@capgemini.com</a><br />
    <strong>Team Lead:</strong> <a href="mailto:olivier.tourneur@capgemini.com">olivier.tourneur@capgemini.com</a>
</address>
